{% extends "header.html" %} {% block body %}
<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            {% if selection == "admin_account" %}
                {% if account_updated %}
                    <div class="alert alert-success">
                        <div class="alert-item">
                            <span>
                                Admin Account Updated
                            </span>
                        </div>
                    </div>
                {% endif %}
                <form class="form" action="{{url_for('set_admin_account_credentials')}}" id="form" method="POST">
                    <section class="form-block">
                        <label>Admin Account</label>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" id="password" name="password" placeholder="Password" size="25">
                        </div>
                        <div class="form-group">
                            <button type="submit" id="update_account" class="btn btn-primary">Update Account</button>
                        </div>
                    </section>
                </form>
            {% elif selection == "create_organization" %}
                {% if new_org %}
                    <div class="alert alert-success">
                        <div class="alert-item">
                            <span>
                                New Org Created Successfully
                            </span>
                        </div>
                    </div>
                {% endif %}
                <form class="form" action="{{url_for('create_new_organization')}}" id="form" method="POST">
                    {{ form.hidden_tag() }}
                    <section class="form-block">
                        <label>Organization Details</label>
                        <div class="form-group">
                            {{ form.organization_name.label(type_="label", size_="25")}}
                            {{ form.organization_name(type_="text")}}
                        </div>
                    </section>
                    <section class="form-block">
                        <label>Default Organization Admin</label>
                        <div class="form-group">
                            {{ form.org_default_admin_password.label(type_="label", size_="25")}}
                            {{ form.org_default_admin_password(type_="password")}}
                        </div>
                        <div class="form-group">
                            {{ form.con.label(type_="label", size_="25")}}
                            {{ form.con(type_="password")}}
                        </div>
                    </section>
                    {{ form.submit(type_="submit", class_="btn btn-primary") }}
                </form>
            {% elif selection == "view_organizations" %}
                {% if org_edit_action %}
                    <div class="alert alert-success">
                        <div class="alert-item">
                            <span>
                               Org Updated
                            </span>
                        </div>
                    </div>
                {% endif %}
                <form class="form" action="{{url_for('view_edit_all_organizations')}}" id="form" method="POST">
                    <table class=table>
                        <thead>
                                <tr>
                                    <th>Organization Name</th>
                                    <th>Create Date/Time</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for org in org_list %}
                                    <tr>
                                        <td>{{org['organization_name']}}</td>
                                        <td>{{org['created']}}</td>
                                        <td>
                                            <button type="submit" id="update_account" class="btn btn-outline" name="update" value="{{org['organization_name']}}">Update Organization</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </form>
            
                {% if crud_org_modal %}    
                    <form class="form" action="/edit_organizations/{{edit_org_name}}" id="form_two" method="POST">
                        <div class="modal">
                            <div class="modal-dialog" role="dialog" aria-hidden="true">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-label="Close" class="close" name="submit" value="Cancel" type="submit">
                                            <clr-icon aria-hidden="true" shape="close"></clr-icon>
                                        </button>
                                        <h3 class="modal-title">Edit Organization ({{edit_org_name}})</h3>
                                    </div>
                                    <div class="modal-body">
                                        {{ form.hidden_tag() }}
                                        <section class="form-block">
                                            <label>Organization Details</label>
                                            <div class="form-group">
                                                {{ form.organization_name.label(type_="label", size_="25")}}
                                                {{ form.organization_name(type_="text")}}
                                            </div>
                                        </section>
                                        <section class="form-block">
                                            <label>Default Organization Admin</label>
                                            <div class="form-group">
                                                {{ form.org_default_admin_password.label(type_="label", size_="25")}}
                                                {{ form.org_default_admin_password(type_="password")}}
                                            </div>
                                            <div class="form-group">
                                                {{ form.con.label(type_="label", size_="25")}}
                                                {{ form.con(type_="password")}}
                                            </div>
                                            <div class="form-group">
                                                {{ form.delete_org.label(type_="label", size_="25") }}
                                                {{ form.delete_org(class_="checkbox") }}
                                            </div>
                                        </section>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline" name="submit" type="submit" value="Cancel">Cancel</button>
                                        <button class="btn btn-primary" name="submit" type="submit" value="Submit">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-backdrop" aria-hidden="true"></div>
                        {{form.org_hidden_name}}
                    </form>
                {% endif %}
    
    
            {% endif %}

        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                {% if org_name == "Default" %}
                <a href="/admin_account" class="nav-link">
                    Admin Account
                </a>
                <a href="..." class="nav-link">
                    Identity Providers
                </a>
                <a href="..." class="nav-link">
                    System Logs
                </a>
                <section class="nav-group collapsible">
                    <input id="tab_1" type="checkbox">
                    <label for="tab_1">Organizational Actions</label>
                    <ul class="nav-list">
                        <a href="/create_organization" class="nav-link">
                            Create New Organization
                        </a>
                        <a href="/view_edit_organizations" class="nav-link">
                            View/Edit Organizations
                        </a>
                        <a href="..." class="nav-link">
                            Organization Billing
                        </a>
                    </ul>
                </section>
                {% else %}
                <a href="/admin_account" class="nav-link">
                    Admin Account
                </a>
                <section class="nav-group collapsible">
                        <input id="tab_1" type="checkbox">
                        <label for="tab_1">My Organization</label>
                        <ul class="nav-list">
                            <a href="/create_user" class="nav-link">
                                Create New User
                            </a>
                            <a href="/view_edit_users" class="nav-link">
                                View/Edit Users
                            </a>
                            <a href="..." class="nav-link">
                                Organization Billing
                            </a>
                        </ul>
                </section>
                {% endif %}
            </section>
        </nav>
    </div>
</div>
{% endblock %}