<!DOCTYPE html>
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} 
{% assets "css_all" %}
<link rel=stylesheet type="text/css" href="{{ ASSET_URL }}"> 
{% endassets %}
<style>
    header .branding {
        display: flex;
        align-items: center;
    }
</style>
<html lang="en">

<head>
    <title>
        LetsEncrypt Portal
    </title>
</head>

<header class="header-6">
    <div class="branding">
        <clr-icon shape="vm"></clr-icon>
        <span class="title">SMP</span>
    </div>
    <div class="header-nav">
            <a href="/" class="nav-link nav-text">Home</a>
            <a href="/request_certificate" class="nav-link nav-text">Request Certificate</a>
            <a href="/provisioned_certificates" class="nav-link nav-text">Provisioned Certificates</a>
            <a href="/scheduled_renewals" class="nav-link nav-text">Scheduled Renewals</a>
            <a href="/logs" class="nav-link nav-text">Request / Renewal Logs</a>
            <a href="/admin" class="nav-link nav-text">Admin</a>
    </div>
    {% if logged_in %}
    <div class="header-actions">
        <a href="/log_out" class="nav-link nav-text">
            Log Out
        </a>
    </div>
    {% endif %}
</header>
<body>
    {% block body %}{% endblock %}
</body>
</html>