{% extends "header.html" %} {% block body %}
<form class="form" id="form", method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Description</th>
                <th>Active</th>
                <th>Cert Name</th>
                <th>Domain String</th>
                <th>Account Email</th>
                <th>NSX Edge ID</th>
                <th>Application Profile ID</th>
                <th>DNS Provider</th>
                <th>Staging</th>
                <th>Granted Epoch</th>
            </tr>
        </thead>
            <tbody>
                {% for schedule in schedule_list %}
                    <tr>
                        <td><input type="checkbox" id="chk_{{schedule['id']}}"></td>
                        <td>{{schedule['id']}}</td>
                        <td>{{schedule['description']}}</td>
                        <td>{{schedule['active']}}</td>
                        <td>{{schedule['cert_name']}}</td>
                        <td>{{schedule['domain_string']}}</td>
                        <td>{{schedule['account_email']}}</td>
                        <td>{{schedule['nsx_edge_id']}}</td>
                        <td>{{schedule['application_profile_id']}}</td>
                        <td>{{schedule['dns_provider']}}</td>
                        <td>{{schedule['staging']}}</td>
                        <td>{{schedule['granted_epoch']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Delete Certificate</button>
</form>
{% endblock %}  