{% extends "header.html" %} {% block body %}
<div class="main-container">
    <form class="form" action="{{ url_for('req_cert') }}" id="form" method="POST">
        {{ cert_form.hidden_tag() }}
        <section class="form-block">
            <label>Certificate Parameters</label>
            <div class="form-group">
                {{ cert_form.description.label(type_="label", size_="25") }}
                {{ cert_form.description(type_="text) }}
            </div>
            <div class="form-group">
                {{ cert_form.certificate_names.label(type_="label") }}
                {{ cert_form.certificate_names(type_="text") }}
            </div>
        </section>
        <section class="form-block">
            <label>(Optional) Deployment Parameters</label>
            <div class="form-group">
                {{ cert_form.pre_deployment_script.label(type_"label") }}
                {{ cert_form.pre_deployment_script(type_="textarea")}}
            </div>
            <div class="form-group">
                {{ cert_form.post_deployment_script.label(type_"label") }}
                {{ cert_form.post_deployment_script(type_="textarea")}}
            </div>
        </section>
        <section class="form-block">
            <label>Failure Hook</label>
            <div class="form-group">
                {{ cert_form.error_email_address.label(type_"label") }}
                {{ cert_form.error_email_address(type_="text")}}
            </div>
            <button type="submit" class="btn btn-primary">Create Certificate</button>
        </section>
    </form>
</div>
{% endblock %}